.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/favicon.svg") center no-repeat #fff;
}


html {
	  background: url('../images/background_1.jpg') #fff;
    background-size:cover;
    background-repeat: repeat;
    background-attachment: fixed;
    position:absolute;
    min-width: 530px;
    height: 105%;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    font-family:sans-serif;
    font-weight:400;
    color: #474747;
    font-size: 18px;
    -vendor-background-clip: border-box;
}

body {
    background: #ffffff;
    background: rgba(255,255,255,0.85);
    width: 80%;
    border-radius: 100px;
    margin: 30px auto 100vh auto;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
}
h1{
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 15px;
}
h2{
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 15px;
}
h3{
  font-size: 30px;
  font-weight: 700;
  text-align: inherit;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
  padding-left: 5%;
}
h4{
  font-size: 20px;
  font-weight: 700;
  text-align: inherit;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
}
h5{
  font-size: 20px;
  font-weight: 200;
  padding-left: 20px;
  text-align: inherit;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 10px;
}
.center {
  text-align: center;
}
a{
  color: #008080;
  text-decoration: none;
  transition: color 0.5s ease;
}
a:hover{
  color: #7a7a7a;
  text-decoration: none;
}
p{
  padding: 15px;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  line-height: 25px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
label{
  font-size: 16px;
  padding: 5px 10px;
  /* border: 1px solid #008080; */
  border-radius: 15px;
  margin: 5px 25px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
    z-index: -10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-track-piece{
  display: none;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0);
  z-index: -10;
}
table.normal {
  border-collapse: collapse;
  width: 90%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin: 0 auto;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
table.normal th, table.normal td {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}
table.normal tr {
  border-bottom: 1px solid #ddd;
}
table.normal tr th {
  background-color: rgb(151,151,151);
  background-color: rgba(151,151,151,0.4);
}
.title {
  font: inherit;
}
div.menu{
  display: block;
  overflow: auto;
  margin: 15px auto;
  list-style:none;
  position:relative;
  padding: 10px
}
.menu nav{
  width: 100%;
  height: 100%;
}
.menu a:hover{
  background-color: rgb(0,128,128);
  background-color: rgba(0,128,128, 0.0);
  color: #474747;
}
.menu a{
  /* background-color: rgb(0,128,128, 0);
  color: #000000;
  height: 40px;
  width:1 auto;
  margin: 12px auto;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 25px;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 5px 25px;
  font-weight: 600;
  font-family: "Raleway", sans-serif; */
  padding: 5px 10px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-size: 25px;
  background-color: #008080;
  color: #ffffff;
  height: 40px;
  margin: 12px auto;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  /* border: 1px solid #008080; */
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
}
/* .menu a{
  color: #000000;
  position: relative;
  width: 100%;
  height:100%;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 25px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
} */
.menu li{
  display: inline-grid;
  align-items: center;
  padding: 0;
  width: auto;
  margin: 0;
}
.menu ul{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding:0;
}
.menu table{
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: 0 solid rgb(255,255,255);
  border: 0 solid rgba(255,255,255, 0.85);
  margin: 0;
}
.menu table tr{
  height: 100%;
  border-width: 0;
  padding: 0;
}
.menu table td{
  text-align: center;
  border-width: 0;
  padding: 5px;
  width:auto;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0.85);
  border: 10px solid rgb(255,255,255);
  border: 10px solid rgba(255,255,255, 0.85);
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}
.menu table td:hover{
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255, 0);
}
div.links{
  display: block;
  overflow: auto;
  margin: 15px auto;
  list-style:none;
  position:relative;
  padding: 10px
}
.links ul{
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}
.links li{
  display:inline-grid;
  align-items: center;
  padding: 10px;
}
nav select {
  display: none;
}
@media (max-width: 630px) {
  nav ul     { display: none; }
  nav select { display: inline-block; }
}

.top{
  width:100%;
  padding-top: 100px;
  border-radius: 100px 100px 0 0;
}
.main{
  width: 100%;
  padding-bottom: 20px;
  border-radius: 0 0 100px 100px;
}

.prettyblocks{
  width:100%;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
  align-items: center;
}
.prettyblocks p{
  text-align: center;
	line-height: 3;
}
.prettyblocks a{
  background-color: rgb(0, 128, 128);
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  width: 90%;
  margin: 0 auto;
}

.prettyblocks a:hover{
  background-color: #ffffff;
  background-color: rgba(0, 128, 128, 0.85);
}

.content img{
	max-width:100%;
}
